<ion-header>
  <ion-buttons slot="start" class="back-btn">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  <ion-toolbar>
    <ion-title>order confirmation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>{{darDetails.createdBy}}
            <p>{{user.mobilenumber}}</p>
        </ion-label>
        <div class="money" slot="end"><p>Rs2000<span>Price/Hr</span></p></div>
      </ion-item>      
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <p>Service</p>
                <span>Wac Dressing - {{darDetails.type}}</span>
              </ion-col>
              <ion-col size="4">
                  <p>Date</p>
                  <span>{{darDetails.darTime | date: 'dd/MM/yyyy'}}</span>
                </ion-col>
                <ion-col size="4">
                    <p>Time</p>
                    <span>{{darDetails.darSlot}}</span>
                  </ion-col>
            </ion-row>
          </ion-grid>

            <div class="address-detail">
                <h1>Descrition</h1>
                <p>{{darDetails.description}}</p>
            </div>


            <div class="address-detail">
            <h1>Address</h1>
            <p>{{darDetails.address}}</p>
          </div>

          <!--<div class="map-booking">-->
            <!--<img src="../../../assets/img/smallmap.png">-->
          <!--</div>-->
          <ion-button color="primary" size="full" (click)="BookingConfirmPopupPage()">Confirm booking</ion-button>
</ion-content>
