ion-content{
    text-align: center;
    h1{
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
    }
    img{

    }
    ion-button{
        max-width: 100px;
        margin:12px auto 0px;
    }
}