

<ion-content class="ion-padding">
    <div class="rating">
        <img src="../../../assets/img/write.png" alt="">
        <h1>Give us your rating</h1>
        <p>Help your provider improved their service by rating them </p>
        <ul>
          <li><ion-icon name="star-outline"></ion-icon></li>
          <li><ion-icon name="star-outline"></ion-icon></li>
          <li><ion-icon name="star-outline"></ion-icon></li>
          <li><ion-icon name="star-outline"></ion-icon></li>
          <li><ion-icon name="star-outline"></ion-icon></li>
        </ul>
      </div>
</ion-content>
