<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
  <form [formGroup]="signup_form"  (ngSubmit)="onSubmit(signup_form.value)">
    <ion-item>
      <ion-label position="floating" color="primary">Username</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.username">
        <div class="error-message" *ngIf="signup_form.get('username').hasError(validation.type) && (signup_form.get('username').dirty || signup_form.get('username').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" color="primary">Full Name</ion-label>
      <ion-input type="text" formControlName="fullname"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.fullname">
        <div class="error-message" *ngIf="signup_form.get('fullname').hasError(validation.type) && (signup_form.get('fullname').dirty || signup_form.get('fullname').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>


    <ion-item>
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="signup_form.get('email').hasError(validation.type) && (signup_form.get('email').dirty || signup_form.get('email').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
    <ion-label position="floating" color="primary">Gender</ion-label>
    <ion-select formControlName="gender" cancelText="Cancel" okText="OK">
      <ion-select-option *ngFor="let gender of genders" [value]="gender">{{gender}}</ion-select-option>
    </ion-select>
  </ion-item>


    <div>
      <!--<ion-item>-->
        <!--<ion-label position="floating" color="primary">Country</ion-label>-->
        <!--<ion-select formControlName="country" cancelText="Cancel" okText="OK">-->
          <!--<ion-select-option *ngFor="let item of countries" [value]="item">{{item.name}}</ion-select-option>-->
        <!--</ion-select>-->
      <!--</ion-item>-->
      <ion-item>
        <ion-label position="floating" color="primary">Mobile Number</ion-label>
        <ion-input placeholder="{{ signup_form.value.mobile_number }}" type="text" formControlName="mobile_number"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.mobile_number">
          <div class="error-message" *ngIf="signup_form.get('mobile_number').hasError(validation.type) && (signup_form.get('mobile_number').dirty || signup_form.get('mobile_number').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>



    <ion-item>
      <ion-label position="floating" color="primary">State</ion-label>
      <ion-select [(ngModel)]="selectedState" (ionChange)="onChangeState()"   interface="popover" placeholder="Select one" formControlName="state">
        <ion-select-option *ngFor="let state of states"  [value]="state.id">
          {{state.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.state">
        <div class="error-message" *ngIf="signup_form.get('state').hasError(validation.type) && (signup_form.get('state').dirty || signup_form.get('state').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" color="primary">City</ion-label>
      <ion-select [(ngModel)]="selectedCity"  interface="popover" placeholder="Select one" formControlName="city">
        <ion-select-option *ngFor="let city of cities"  [value]="city.id">
          {{city.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.city">
        <div class="error-message" *ngIf="signup_form.get('city').hasError(validation.type) && (signup_form.get('city').dirty || signup_form.get('city').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>



    <div formGroupName="matching_passwords">
      <ion-item>
        <ion-label position="floating" color="primary">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message" *ngIf="signup_form.get('matching_passwords').get('password').hasError(validation.type) && (signup_form.get('matching_passwords').get('password').dirty || signup_form.get('matching_passwords').get('password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating" color="primary">Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirm_password"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.confirm_password">
          <div class="error-message" *ngIf="signup_form.get('matching_passwords').get('confirm_password').hasError(validation.type) && (signup_form.get('matching_passwords').get('confirm_password').dirty || signup_form.get('matching_passwords').get('confirm_password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>
    <!-- These validations are for the form group -->
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.matching_passwords">
        <div class="error-message" *ngIf="signup_form.get('matching_passwords').hasError(validation.type) && (signup_form.get('matching_passwords').get('confirm_password').dirty || signup_form.get('matching_passwords').get('confirm_password').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>


    <ion-item>
      <ion-label position="floating" color="primary">Role</ion-label>
      <ion-select formControlName="role" cancelText="Cancel" okText="OK">
        <ion-select-option *ngFor="let role of roles" [value]="role">{{role}}</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!signup_form.valid">Signup</ion-button>
        </ion-col>
        <ion-col>
            <ion-button color="primary" class="submit-btn" expand="full" type="button" (click)="goToLogin()">Go to Login</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>
